{%load static %}
<!DOCTYPE html>
<head>
 <link rel="stylesheet" href="{%static 'root.css'%}">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body><div class="chooseTopic">choose a topic</div>
    <div class="container"> 
    <a href="geography/"><div class="subject" value="geography">Geography</div></a>
    <a href="history/"><div class="subject" value="history">History</div></a>
    <a href="physics/"><div class="subject" value="physics">Physics</div></a>
    <a href="biology/"><div class="subject" value="biology">Biology</div></a>
    <a href="politics/"><div class="subject" value="politics">Politics</div></a>
    <a href="chemistry/"><div class="subject" value="chemistry">Chemistry</div></a>
    <a href="maths/"><div class="subject" value="maths">Maths</div></a>
</div>
   
</body>
</html>